<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>

<img src="/hanae-y-la-reliquia-del-dragon/assets/img/portada.jpeg">

<p><em>Nos encontramos en una época donde el mundo era regido por aquellos que poseían
dragones. La búsqueda de las reliquias en forma de piedras preciosas era incesante para
las diferentes tribus del continente, pues estas eran necesarias para invocar a la madre
dragón, quien concedería un único deseo a aquellos que lograran invicarla.
La historia transcurre en la ciudad de Konan, situado al sur del continente. Una tribu de
guerreros provinientes del este, de donde eran originarios los dragones, eran liderados por
su rey Edred y su hija Elaya. El grupo se adentraba en los países del sur en busca de la
tercera y última reliquia, pues los rumores apuntaban que la última piedra se encontraba en
aquellas tierras... Lo que Edred y su hija no sabían es que en el camino se encontrarían a
un misterioso personaje que daría un giro a sus planes…</em></p>
