<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>

<img src="assets/img/portada-2.png">

<p style="font-style: italic; font-weight: normal;">El rey Edred junto a sus guerreros y su hija emprenden un arduo viaje hacia las tierras del sur en busca de una piedra preciosa, una reliquia necesaria para invocar a la madre de los dragones. Esta poderosa criatura concederá un deseo a la sacerdotisa que consiga invocarla, pero solo uno, y el rey tiene muy claras sus intenciones. Todo marcha bien hasta el momento en el que ponen un pie en la ciudad de Konan.</p>
